nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a{
    font-size: large;
}


.active-link{
    font-weight: bold;
    color: black;
}

.sub-link{
    font-size: 0.9em;
    padding-left: 10px;
}